

body{
   margin:0;
   padding: 0;
   font-size: 13px;
   font-family: arial,sans-serif;
}

header{
    width: 100%;
    height: 60px;
}

a{
    text-decoration: none;
    cursor: pointer;
}
header nav {
    display: flex;
    justify-content:flex-end;
}

header nav .nav-right-section{
    list-style: none;
    display: flex;
width: 250px;
height: auto;
justify-content: center;
align-items: center;
}

header nav .nav-right-section li>a{
 color:rgba(0,0,0,.87);
margin: 10px;
  }

  header nav .nav-right-section li>a:hover{
    text-decoration:underline;
   
  }

.icon-container a img{
    height: 24px;
    width: 24px;
   
}


.main-image a img:hover{
    background-color: rgba(60,64,67,.08);
    border-radius: 50%;
    box-sizing: border-box;
      }

nav .nav-right-section img{
    border-radius: 50%;
margin-left: 10px;
}
main{
    margin-top: 150px;
    text-align: center;
}
  main .main-logo {
margin: 0 auto;
  width: 530px;
margin-bottom: 20px;
  }

  main .main-logo img {
width: 272px;
height: 92px;
  }



  main .main-input{
    width: 530px;
    margin: 0 auto;
   

  }

  main .main-input-container {
    width: 525px;
    border-radius: 100px;
    border: 1px solid  #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
    
  
  }

  main .main-input input {
width: 450px;
height: 40px;
border: none;
outline: none;
  }

  main .main-input-container:hover{
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border: 0 1px 6px rgba(32,33,36,.28);
    border-radius: 100px;
    width: 525px;
  }
 
main .main-input .search-icon .fa-solid{
   
    color:#9aa0a6;

display: flex;
align-items: center;
padding-right: 13px;
padding-left: 16px;
margin-top: -5px;
height: 46px;
}
main .main-input .camera-icon{
    background-image: url('/img/imagen-de-camara.png');
background-repeat: no-repeat;
background-size:contain;
background-position: center;
width: 24px;
height: 24px;
cursor: pointer;
margin: 0 16px;

}
main .main-input .micro-icon{
background-image: url('/img/icono\ de\ microfono.png');
background-repeat:no-repeat;
background-position:center;
background-size: contain;
width: 24px;
height: 24px;
cursor: pointer;
padding: 0 8px;
}
 
.traductor-google{
 color: #4d5156;
}

main .main-buttons {
    width: 530px;
    margin: 0 auto;
   padding: 20px;
}
main .main-buttons div {
    display: inline-block;
}
main .main-buttons button {
   padding: 0px 16px; 
   height: 36px;
   margin: 11px 4px;
   border-radius: 4px;
   background-color: #f8f9fa;
   border: 1px solid #f8f9fa;
   color: #3c4043;
   cursor: pointer;
}
main .main-buttons button:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

.enlace-idiomas:visited{
color: #1a0dab;
}
.enlace-idiomas:hover{
    text-decoration: underline;
}

.color-background-footer{
  background:#f2f2f2
}


footer {
  width: 100%;
 
  position: absolute;
  bottom:0;
  display: grid;
 
  font-size: 14px;
}

.first-text-footer{
  padding:15px 30px;
  border-bottom:1px solid #dadce0;
  font-size:15px;color:#70757a;
}
  
  .padding-container{
    padding:0 20px
  }
  .container-links{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between
  }
  
  @media only screen and (max-width:1200px){
    .container-links{justify-content:space-evenly}
  }
  .links-footer{
    display:block;
    padding:15px;
    white-space:nowrap;
   
  }

  .links-footer:hover{
    text-decoration: underline;
    }
  .links-footer,a.links-footer{
    color:#70757a
  }